* {
    font-family: 'Segoe UI', 'Roboto', sans-serif;
}

strong {
    font-weight: 600;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
}
.table-filter{
    margin-top: .5%;
}
.table-filter,.table-filter-2 {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  width: 99%;
}

.table-filter th,
.table-filter td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
  vertical-align: middle;
}

.table-filter input,
.table-filter select {
  width: 100%;
  box-sizing: border-box;
}



th,
td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}
thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgb(233, 233, 233) !important;
}

.divQueRola {
  overflow: auto;
  z-index: 9999; /* ← isso pode cobrir o thead! */
}
.divQueRola {
  overflow: auto;
  z-index: 9999; /* ← isso pode cobrir o thead! */
}

.header-row {
    background-color: #f1f1f1;
}

.div-info-row {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1%;
}

.div-info-row th {
    background-color: #ffffff;
}

.btn-imprimir {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;
}

.btn-imprimir img {
    width: 18px;
    height: 18px;
    object-fit: contain;
    display: block;
}

.botao-imprimir {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icone-impressora {
    width: 24px;
    height: 24px;
}
.div-form__body-info {
    display: flex;
    padding: .5%;
    flex-direction: column;
}

thead th {
  position: sticky;
  top: 0;
  background-color: white; /* Ou a cor de fundo da sua tabela */
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  z-index: 2; /* Garante que fique acima do conteúdo */
}
