*{
     font-family: Arial, sans-serif;
}
body {
    background-color: rgba(0, 38, 87, 0.432);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.div-form {
    border-radius: 10px;
    /* Bordas arredondadas */
    padding: .5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra mais pronunciada */
    width: 98%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    margin-top: 4.6%;
    font-family: 'Courier New', Courier, monospace;
    /* Fonte com estilo retro */
    background-color: white;
}

#volumeDiv,
#comprimentoDiv,
#massaDiv,
#divTamanho,
#divTamanhoNUm {
    flex-direction: column;
    width: 35%;
    display: none;
    align-items: center;
}

.div-form-display {
    flex: 1;
    display: flex;
    gap: 15px;
    overflow-y: auto;
    width: 100%;
    height: 70vh;
    background-color: white;
}

.div-form__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    overflow: hidden;
    /* background-color: rgb(85, 5, 5); */
    margin-bottom: .5%;
    padding: 1%;
    border: 1px solid rgba(111, 111, 111, 0.64);
    height: 98%;
    margin: .5%;
}
.div-form__body label {
    font-size: 1rem;
    margin-top: 2%;
}

.div-form-img {
    width: 35%;
    align-items: center;
    display: flex;
    justify-content: top;
    flex-direction: column;
    border: 1px solid rgb(190, 190, 190);
    padding-top: 7%;
    margin: .5%;
 
}


.img-produto {
    width: 12rem;
    height: 12rem;
}

.form-group {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    gap: 1%;
    width: 100%;
}

.input-select-wrapper {
    display: flex;
}

#fornecedor {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    color: black;
    padding: 8px;
    border: 1px solid #ccc;
    cursor: not-allowed;
}

/* Adiciona um ícone visual opcional para manter o layout */
#fornecedor::after {
    content: '▼';
    /* Ícone de seta customizada (opcional) */
    font-size: 14px;
    color: black;
    position: absolute;
    right: 10px;
    pointer-events: none;
}

.div-grupo,
.div-subGrupo,
.div-Cor {
    position: absolute;
    z-index: 9999;
    top: 45%;
    width: 40%;
    left: 30%;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 3rem;
    /* 20px em rem */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra mais pronunciada */
    border-radius: 0.5rem;
    /* 8px em rem */
    background-color: rgb(239, 239, 239);
    ;
    flex-direction: column;
    font-size: 1.2rem;
}

.newGrupo,
.newSubGrupo,
.newCor {
    margin: 3%;
}

.titulo-img {
    color: rgb(0, 38, 87);
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 2%;
}

.atalhos-1 {
    width: 37.5%;
}

.p-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.footer-venda,.msg-alterar{
    display: flex;
    background-color: rgba(248, 255, 53, 0.142);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: .5%;

  } 
  .div-form__footer{
    display: flex;
    background-color: rgba(248, 255, 53, 0.142);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: .5%;

  } 

/* abaixo css tela deletar produto*/




.logo-container {
    width: 100%;
    height: 61%;
    border: 1px solid rgba(128, 128, 128, 0.549);
    margin-top: 2%;
    border-radius: 5px;
    background: linear-gradient(to bottom, #3b5a82, #2c4d6e);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 250px;
}

.secao-principal {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid gray;
    align-items:start;
}

.secao-conteudo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
}

.secao-acao {
    width: 99%;
    display: flex;
    height: 80%;
    padding: .5rem;
    align-items: center;
    background: rgb(219, 219, 219);
    margin: .5%;
}

.foto-produto-container {
    margin-left: 1%;
    text-align: center;
}

.titulo-img {
    margin-bottom: .5%;
    width: 100%;
    text-align: center;
}

.filtros-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 0%;
    gap: 2%;
    padding: 1%;
}

.filtro-ean {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filtro-label {
    font-weight: 600;
    margin-bottom: 4%;
}

.botoes-acao {
    display: flex;
    height: 2.7rem;
    margin-left: 13%;
    align-items: center;
    justify-content: center;

}

.lista-produtos {
    margin-left: .5%;
    width: 99%;
    border: 1px solid gray;
}

.ul-header {
    list-style: none;
    width: 100%;
    display: flex;
    background-color: #f4f4f4;
    font-weight: bold;
    border-bottom: 2px solid #aaa;
}

.ul-filtros {
    width: 100%;
    height: 3.1rem;
    background-color: white;
}

.tabela-dinamica {
    width: 100%;
    height: 50%;
    padding: .5%;
}

.div-form-display {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid rgba(128, 128, 128, 0.474);
}

.footer-container {
    display: flex;
    align-items: center;
}

.footer-aviso {
    font-size: 0.95rem;
}

.container-footer{
    border: 1px solid rgba(128, 128, 128, 0.516);padding: 1%; margin: .5%; margin-top: 0;
}