:root {
    --input-readonly: rgb(232, 232, 232);
}

input[readonly],
input:disabled,
select:disabled {
    background-color: var(--input-readonly);
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#username,#password{
    text-align: center;
}

label {
    font-size: 1.1rem;
    margin-bottom: 10px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    font-weight: 600;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
}

#filtrar {
    margin-top: -1%;
}

#labelFornecedor {
    margin-top: 1%;
}
.strong-td{
    margin-left: 1rem;
}
input,
select {
    width: 100%;
    padding: 0.35rem 0.6rem;
    font-size: 0.95rem;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    height: 2.4rem;
    font-family: 'Segoe UI', sans-serif;
}

input:focus,
select:focus {
    border-color: #5f8ac1; /* azul leve */
    box-shadow: 0 0 0 2px rgba(95, 138, 193, 0.3);
    outline: none;
}

#produto-imagem {
    font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    background-color: transparent;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    margin-left: .3%;
}


