table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  margin-bottom: .7rem;
}

th,
td {
  padding: .3rem;
  text-align: left;
  background-color: #fdfdfd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  font-weight: 500; /* ou 600 */
  color: #1c0000;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
}

tr:nth-child(even) td {
  background-color: #ffffff;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.td-com-btn {
  display: flex;
  align-items: center;

}

.table-1-produto th:nth-child(1) {
  width: 30%;
}

.table-1-produto th:nth-child(2) {
  width: 70%;
}

.table-2-produto th:nth-child(1) {
  width: 50%;
}

.table-2-produto th:nth-child(2) {
  width: 50%;
}

.table-3-produto th:nth-child(1) {
  width: 35%;
}

.table-3-produto th:nth-child(2) {
  width: 30%;
}

.table-3-produto th:nth-child(3) {
  width: 45%;
}


.table-4-produto th:nth-child(1) {
  width: 20%;
}

.table-4-produto th:nth-child(2) {
  width: 20%;
}

.table-4-produto th:nth-child(3) {
  width: 20%;
}

.table-5-produto th:nth-child(1) {
  width: 30%;
}

.table-5-produto th:nth-child(2) {
  width: 70%;
}

.table-6-produto th:nth-child(1) {
  width: 30%;
}

.table-6-produto th:nth-child(2) {
  width: 20%;
}

.table-6-produto th:nth-child(3) {
  width: 20%;
}