:root {
    --primary-color: #1f3b57;
    --secondary-color: #2c4d6e;
    --hover-color: #5f8ac1;
    --text-color: #ffffff;
    --border-color: #a0a0a0;
    --submenu-bg: #f4f4f4;
    --submenu-border: #8c8c8c;
    --barra: #d9e1e9;
}

* {
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--submenu-bg) !important;
}

/* Header com logo */
header {
    padding: 2rem 0;
    background: var(--secondary-color);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    clip-path: ellipse(100% 80% at 50% 0%);
}

.img-logo {
    width: 25rem;
    height: auto;
    padding-bottom: 1.5rem;
}
.img-logo-serial {
    width: 25rem;
    height: auto;
    padding-bottom: 1.5rem;
}

.headerSerial {
    padding: 2rem 0;
    background: var(--secondary-color);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    clip-path: ellipse(100% 80% at 50% 0%);
}

/* Login Container */
.login-container {
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.492);
    padding: 3.125rem 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 29rem;
    text-align: center;
    margin-top: 17%;
}

.welcome-msg {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    color: #333;
    border-bottom: 1px solid gray;
}

.strong-bem-vindo {
    font-size: 1.2rem;
}

.form-group {
    margin-bottom: 0.9375rem;
    text-align: left;
}

.label-acess {
    margin-top: 5%;
    font-weight: 600;
    width: 100%;
    justify-content: left;
    color: rgb(3, 3, 3);
    border: 1px solid transparent;
    font-size: 1rem;
}

#username,
#password {
    padding: 0.3125rem;
    height: 3rem;
}

.img-user,
.img-cadeado {
    position: absolute;
    width: 20px;
}

.img-user,
.img-cadeado {
    margin-top: 1%;
    margin-left: 1%;
}

#formLogin {
    background: linear-gradient(to bottom, #3b5a82, #2c4d6e);
    color: white;
    border: none;
    padding: 0.9375rem 1.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 100%;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    transition: all 0.5s ease-in-out;
    outline: none;
}

#formLogin:hover {
    background: linear-gradient(to bottom, #30517dcb, #27496c);
}

/* Modal de ativação */
.ativar-produto {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    position: absolute;
    border-radius: 0.625rem;
    padding: 1.25rem 3.125rem;
    margin-bottom: 3%;
}

.ativar-produto img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.ativar-produto h2 {
    margin-bottom: 1.25rem;
    font-weight: normal;
    font-size: 1rem;
}

.ativar-produto label {
    margin: 0.1875rem 0;
    display: block;
    font-size: 1rem;
}

.ativar-produto input {
    width: 80%;
    padding: 0.625rem;
    margin-bottom: 1.25rem;
    border: 1px solid var(--text-color);
    border-radius: 0.3125rem;
    color: var(--text-color);
    text-align: center;
    font-size: 1.2rem;
}

.ativar-produto button {
    width: 80%;
    padding: 0.625rem;
    border: none;
    border-radius: 0.3125rem;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ativar-produto button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.ativar-produto button:hover:not(:disabled) {
    background-color: var(--primary-color-hover);
}

 
.termos-uso {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    padding: 0.625rem;
}
 
.termos-uso-1 {
 display: flex;
}

#termos {
    margin-bottom: 0.25rem;
    width: 1.25rem;
    height: 1.25rem;
}

/* Logo no topo */
.Logo {
    margin-top: -1.875rem;
}

/* Rodapé */
footer {
    color: rgb(253, 253, 253);
    text-align: center;
    font-size: 0.9rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#termos-box {
    position: absolute;
    top: 25%;
    width: 70%;
    padding-right: 1%;
    height: 71%;
    background-color: rgb(240, 240, 240);
    z-index: 999999;
    padding-left: 1%;
    border: 1px solid gray;
    border-radius: 8px;
}
.container-li{
    overflow-y: scroll;
    height: 72%;
    margin-top: 1;
    background-color: white;
    font-size: 1rem;
    padding: 1%;
}
#termos-box li {
    margin-bottom: 1%;
    margin-top: 1%;
}

#termos-box ol {
    list-style: none;
    padding-left: 0;
}

#btn-exit {
    display: none !important;
}

#aceito-termos {
    width: 25px;
}

#confirmar-termos {
    margin-bottom: 1%;
    margin-right: 1%;
}

#nao-confirmar-termos {
    width: 250px;
    margin-bottom: 1%;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
    
}
.div-aceitar{
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 1%;
}

#serial-box{
    position: absolute;
    z-index: 999999999;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 254, 255);
}

.termo-conteudo-serial{
    background-color:var(--secondary-color);
    color: white;
 
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    position: relative;
    /* border: 1px solid rgb(255, 255, 255); */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);   */
    border-radius: 8px; 
}

.termo-conteudo-serial h3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: normal;
}
.imgFundoSerial {
    position: absolute;          
    top: 0;
    left: 0;
    width: 100vw;           
    height: 100vh;            
    object-fit: cover;        
    z-index: -1;             
}
 
#btn-exit-serial{
    color: rgb(0, 0, 0) !important;
}
.div-input-serial {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 3%;
    margin-top: 2%;
    align-items: center;
 
    padding: 1%;
   
    border-radius: 8px; 
}
.footer-serial{
    color: white !important;
}
.barra {
    position: relative;
    background-color: #e4e4e4;
    height: 35px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.div-conteudo{
    margin-top: 7%;
}
.imgBack{
position: absolute;
left: -20%;
}
/* Responsivo */
@media (min-width: 48rem) {
    .login-container {
        width: 24rem;
    }

    .container {
        padding: 2.5rem;
    }

    .footer {
        padding: 1.25rem 3.125rem;
    }
}

@media (min-width: 64rem) {
    .login-container {
        width: 30.25rem;
    }
}
