.pix {
    background: #6a74c2;
    min-width: 4rem;
}

.credito {
    background: #2c3e6c;
    min-width: 4rem;
}

.debito {
    background: #3f5481;
    min-width: 4rem;
}

.dinheiro {
    background: #5a6e96;
    min-width: 4rem;
}

.crediario {
    background: #334c74;
    min-width: 4rem;
}

.total {
    background: #295553;
    width: 100%;
    min-width: 4rem;
}

.corpo-interno {
    display: flex;
    width: 99%;
    height: 100%;
    align-items: center;
}

.div-valores-grafico {
    width: 40%;
}

.sale-total {
    height: 3.8rem;
    margin: .5%;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.p-total {
    background: #295553;
    margin: .5%;
    color: white;
    padding: .2rem;
}

.grafico-barras {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin: .5%;
    border: 1px solid var(--border-color);
}

.grafico-barras p {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid var(--border-color);
    padding: 0.5rem 1rem;
    margin-bottom: .5%;
    text-align:center ;
    font-weight: 600;
    background-color: #f0f0f0 !important;
}


/* Estilização dos containers de barra */
.barra-container {
    margin: 1% 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.029);
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 2%;
}

/* Nomes das formas de pagamento */
.barra-container .nome {
    font-weight: 600;
    display: block;
    margin-bottom: 1px;
    width: 30%;
    text-align: end;
}

/* Barras */
.barra {
    height: 3.5rem;
    margin-bottom: .5%;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 2.5%;
    padding-left: 10px;
    font-weight: bold;
    transition: width 0.3s ease;
    margin-bottom: 1%;
}

.barra-total {
    padding-left: 10%;
}

.filtros-div {
    display: none;
}