.table-1-produto {
    margin-top: .5%;
}

#cadastro-produto {
    background: var(--hover-color);
    color: rgb(255, 255, 255);
    text-shadow: none;
    border-bottom: 2px solid black;
    cursor: pointer;
}

.logo-img {
    width: 250px;
}

.input-full-width {
    width: 100%;
}

.form-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.form-title {
    position: absolute;
    top: 2%;
    left: 1%;
}

.input-cnpj {
    width: 100%;
}

.select-fornecedor {
    margin-bottom: 1%;
    width: 100%;
}

.hidden-btn {
    display: none;
}

.estoque-wrapper {
    gap: 1%;
}

.img-alerta {
    width: 1.3rem;
    margin-right: 0.5%;
}

.footer-buttons {
    background: white;
    padding: 0.5%;
    display: flex;
    gap: 2%;
}

.col-codigo {
    width: 30%;
}

.col-nome {
    width: 70%;
}



.col-grupo,
.col-subgrupo {
    width: 50%;
}


/* Largura das colunas */
.col-cnpj {
    width: 30%;
}

 
/* Estilo para o select */
.select-fornecedor {
    margin-bottom: 1%;
}

/* Estilo geral da tabela */
.table-5-produto {
    width: 100%;
    border-collapse: collapse;
}

.table-5-produto th,
.table-5-produto td {
    text-align: left;
}

.span-dois-pontos {
    margin: 2%;
}

#volumeNumero,
#comprimento,
#estoqueQtd,
#massaNumero {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#medidaVolume,
#unidadeEstoque,
#unidadeComprimento,
#unidadeDeMassa {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}

/* Estilo geral da tabela */
.table-6-produto {
    width: 100%;
    border-collapse: collapse;
}

.table-6-produto th,
.table-6-produto td {

    text-align: left;
}

.container-relative-full {
    display: flex;
    width: 99%;
    height: 100%;
    position: relative;
    margin: .5%;
}

.titulo-cadastro-produto {
    position: absolute;
    top: 2%;
    left: 1%;
}

.input-file-wrapper {
    width: 100%;
}


.th-30 {
    width: 30%;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.755);
    margin: .5%;
    padding: 1%;
}

.footer-wrapper p {
    font-size: 0.95rem;
}

.img-alerte {
    width: 1.3rem;
    margin-right: 1%;
}

.div-btn-footer {
    background: white;
    padding: .5%;
    display: flex;
    gap: 2%;
    margin-left: .5%;
}


.border-left {
    border-left: 1px solid #acacac !important;
}

.border-right {
    border-right: 1px solid #acacac !important;
}

.border-none-right {
    border-right: none !important;
}

 
.btn-border-transparent {
    border: none;
    background-color: transparent;
}

.th-25 {
    width: 25%;
}

.th-15 {
    width: 15%;
}

.th-30 {
    width: 30%;
}

.th-50 {
    width: 50%;
}

.input-select-wrapper {
    display: flex;
    align-items: center;
    gap: 0;
}

select{
    
}

.caracteristica-container {
    display: flex;
    align-items: center;
}

#volumeDiv,
#comprimentoDiv,
#massaDiv,
#divTamanho,
#divTamanhoNUm {
    display: none;
    width: 100%;
}

.div-filtrados {
    width: 99%;
    height: 410px;
    border: 1px solid var(--border-color);
    overflow-y: scroll;
}

.container-register {
    left: 0;
    top: 0;
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

#divContainer {
    padding-top: 3%;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 999;
    padding: 1%;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.75rem 1.5625rem rgba(0, 0, 0, 0.5);
}
#tdButton{
    display: flex;
    justify-content: center;
    background-color: rebeccapurple;
}

.btn-cad{
    margin-left: 21%;
}

#divFornecedor{
    left: 0;
    top: 0;
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

#divContainerFornecedor {
    padding-top: 3%;
    width: 750px;
    height: 510px;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 999;
    padding: 1%;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.75rem 1.5625rem rgba(0, 0, 0, 0.5);
}

#divBuscarPorNome{
    z-index: 99999;
    display: none;
    justify-content: center;
    padding-top: 3%;
    flex-direction: column;
    width: 750px;
    height: 510px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    padding: 1%;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.75rem 1.5625rem rgba(0, 0, 0, 0.5);
}

#resultado-nomes{
    margin-top: 2%;
    height: 300px;
    width: 100%;
    overflow-y:scroll ;
}
.div-nome{
    background-color: red;
}