:root {
    --background-color: rgb(0, 38, 87);
    --background-venda:  #1f3b57;
}

ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%; 
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    background-color: white;
    overflow: hidden;
}


.container-sales {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 38, 87, 0.432);
    padding: 1%;
    position: relative;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

 /* As 3 principais partes da tela */
header {
    display: flex;
    flex: 0 0 20%;
    gap: 2%;
    text-align: center;
    align-items: center;
    margin-bottom: 3%;
    background-color:  #1f3b57;
    padding: 2%;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    border-top-right-radius: 3%;
    justify-content: flex-start;
}

.product-section {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 100%;
    flex: 0 0 40%;
    padding: 0; 
    margin-top: 1%;
}
.totals-section {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    position: relative;
    height: 100%;
}



input,
select {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

input[readonly] {
    background-color: #e9ecef;
    font-size: 1.2rem;
}
.div-nomeProduto{
    color: rgb(0, 0, 0);
    width:100%;
    display: flex;
    justify-content: left;
    text-align: center;
    align-items: center;
}
.p-nome-produto{
   margin-left: 1%;
   gap: 1%;
   width: 100%;
   height: 100%;
   justify-content: left;
   display: flex;
   margin-top: 1%;
}
.div-time{
display: flex;
width: 40%;
gap: 4%;
align-items: flex-end;
justify-content: right;
margin-right: 1%;
   }

.squere-hide{
    color: transparent;
}

.info-container-label,
.square-time,
.square-day {
    color: rgb(0, 0, 0);
}

.square-time {
    font-size: 1.7rem;
}

.segundo {
    font-size: 1rem;
    margin-left: .3rem;
}

#data-venda,
#numero-pedido,
#nome-cliente {
    text-align: left;
    width: 20%;
    outline: none;
    background-color:transparent;
    border: none;
}

.info-item-pedido {
    display: flex;
    width: 15%;
}
.info-item-nome-cliente {
    width: 40%;
}
.product-info {
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap;  
    width: 100%;  
}

.product-section > * {
    flex-grow: 1; 
    width: 100%; 
}

.product-info {
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 100%;
    gap: 1%;
    margin-bottom: 0;
}

.div-img {
    width: 300px;
    height: 400px; 
   
    overflow: hidden; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;

}

.img-produto {
    width: auto; 
    max-width: 100%; 
    max-height: 100%; 
    border-radius: 15px;
    object-fit: contain;
    padding: 2%;
}

.product-codigo {
    width: 100%;
    height: 90%; 
    display: flex;
    flex-direction: column;
    gap: 0rem;
    align-items: center; 
    justify-content: center; 
    padding: .5rem;
}

.product-codigo label {
    font-size: 1rem;
    color: #333;
}

.product-codigo input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.product-quantity {
    margin-top: 1%;
    height: 20%;
    text-align: center;
    padding: 2%;
}

.product-quantity p {
    font-size: 1rem;
    color: #666;
    margin: 0;
}

.qtd-selecionada {
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

.product-section p span {
    font-size: 0.875rem;
    color: #888;
}

.div-carrinho{
    width: 80%;
    margin-left: 1%;
    margin-right: .5%;
}

.carrinho {
    border: 1px solid gray;
    width: 100%;
    height: 400px; /* Altura fixa */
    overflow: hidden; /* Impede que a altura aumente */
    display: flex;
    flex-direction: column;
}

.ul-descricao-produto {
    flex-grow: 1; /* Usa o espaço disponível */
    overflow-y: auto; /* Adiciona rolagem quando necessário */
    max-height: 100%; /* Garante que não ultrapasse a altura da .carrinho */
    padding-bottom: 3%;
}

.ul-carrinho{
    display: flex;
    width: 100%;
    height: 3rem;
    max-height: 95%;
    justify-content: center;
    padding: 1%;
    font-size: 1.2rem;
    background-color: #8888881e;
}
.li-titulo-carrino{
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    max-height: 100%;
    gap: 2%;
    justify-content: left;
}

.label{
    color: black;
    padding: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    width: 50%;
}

.div-total-liquido {
    display: flex;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    gap: 2%;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 1%;
}
#total-pago,
#troco,
#mostrarDesconto,
#mostrarDescontoReal,
#total-liquido {
    width: 50%;
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    text-align: left;

    outline: none;
    box-shadow: none;
    appearance: none;     /* Remove estilo padrão do navegador */
    -webkit-appearance: none;
    -moz-appearance: none;
}

.valores{
    width: 50%;
}
.div-liquido{
    color: white;
    width: 50%;
    border: 1px solid rgb(173, 173, 173);
    margin: 1%;
    padding: 1.5rem;
}
.val-div{
    display: flex;
    align-items: center;
    border: 1px solid rgb(173, 173, 173);
    margin: 1%;
    gap: 2%;
    justify-content: right;
    height: 2.7rem;
    padding: 1%;
}

.spanDescricao{
    margin-left: 2%;
}
.spanIndex{
    margin-right: 2%;
}
.spanEan{
    margin-left: 3%;
}
.li-produto{
    margin-top: .3%;
    display: flex;
    padding: 1%;
    border-bottom: 1px dotted gray;
    width: 100%;
    justify-content: left;
}
.remove-item{
    margin-left: -18%;
}
#exit-key,#limpar-tela-key{
    font-size:  1.2rem;
    display: flex;
    text-align: center;
}

.p-info{
    margin-top: 2%;
}

.exit-venda{
    margin-left: -18%;
}

/* Efeito ao passar o mouse */
.div-qtd,.exit-venda,.remove-item{
    box-shadow: 0 0.75rem 1.5625rem rgba(0, 0, 0, 0.5); /* 12px x 25px */
}

#btnBuscarNome{
    background-color: #198754;
    color: #fff;
    padding: 5px 10px;
    width: 8rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    margin-left: 2%;
    }

    #btnBuscarNome:hover{
    background-color: #4cae4c;
    }

    .divNomes{
        position: absolute;
        margin-top: 5px;
        max-width: 700px;
        padding: 1%;
        height: 50%;
        background-color: rgb(229, 229, 229);
    }
   .div-info{
    display: flex;
    height: 5vh; 
    color: rgb(255, 255, 255);
    width: 99.5%;
    border: 1px solid gray;
    margin-bottom: 1%;

   }

  .footer-venda{
    margin-top: .3%;
    display: flex;
    background-color: rgba(248, 255, 53, 0.142);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
  }

  .div-vendas{
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    border-radius: 5px;
    border-radius: 10px;
    margin-top: 4%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada */
    background-color: white;
    padding: .5%;
    width: 98%;;
  }