.payment-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  max-width: 500px;
  padding: 1.25rem;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 10;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1rem;
}
 

/* Estilo básico para o texto */
.campo p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1%;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1%;
}

#input-qtd {
  width: 30%;
}

.div-qtd {
  left: 0;
  top: 0;
  display: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.div-qtd-container,
.div-container,
.div-container-remover,
.div-qtd-container{
    position: absolute;
    top: 43%;
    left: 37.5%;
    transform: translate(-50%, -50%);
    /* width: 100%;
    max-width: 60.5rem; 600px em rem */
    z-index: 999;
    padding: 1%; /* 20px em rem */
    background-color: #fff;
    border-radius: 0.5rem; /* 8px em rem */
    box-shadow: 0 0.75rem 1.5625rem rgba(0, 0, 0, 0.5); /* 12px x 25px */
}

 

.div-qtd label {
  font-size: 16px;
  color: #333;
}

.div-qtd input[type="text"] {
  padding: 8px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.div-qtd .p-info {
  font-size: 1rem;
  text-align: center;
  color: #555;
  display: flex;
  justify-content: center;
}

.botoes-box .p-info {
  font-size: 1rem;
  text-align: center;
  color: #555;
  display: flex;
  justify-content: center;
}

/* Estilo div Alterar nome do Cliente_____________________________________________________________________ */

#alterClienteCPF {
  margin-top: 2%;
}

.alterarCliente {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  top: 0;
  left: 0;
}

#parcelado {
  /* display: none; */
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  top: 0;
  left: 0;
}


.campo,.campo-clear {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 3%; /* 20px em rem */
    width: 300px;
}
.campo-cliente{
  width: 500px;
  padding-top: 3%;
  padding-bottom: 3%;
}

#titulo {
  border: 1px solid gray;
  width: 100%;
  padding: 2%;
  background: linear-gradient(to bottom, #3b5a82, #2c4d6e);
  color: white;
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.box-filtro {
  border: 1px solid gray;
  padding: 2%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filtros {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-left: 8%;
}

.filtro-cpf,
.filtro-nome {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  font-size: 1.1rem;
  color: rgb(107, 107, 107);
}

.filtro-cpf span,
.filtro-nome span,
.cliente-selecionado-box span {
  border-bottom: 2px solid black;
}

.cliente-selecionado-box {
  width: 450px;
}

.filtro-nome .icone-buscar {
  cursor: pointer;
  margin-left: 27%;
  margin-top: 1%;

}

.icone-buscar img {
  width: 100px;
}

.cliente-selecionado-box {
  margin-top: 3%;
}

.val-div {
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  width: 100%;
}

#nomeClienteAlter {
  background-color: transparent;
  border: 1px solid transparent;
  box-shadow: none;
  outline: none;
  width: 100%;
  padding: 8px;
  font-size: 1rem;
}

.botoes-box {
  border: 1px solid gray;
  width: 100%;
  padding: 2% 0;
}

.botoes {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2%;
  gap: 2%;
}

.btn-alterar-produto,
#limparButton {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 16px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.img-disquete,
.img-excluir {
  height: 20px;
}


/* desconto-venda _________________________________________________________________________________________ */
.span-porcent {
  margin-left: -10%;
}

.span-text {
  border-bottom: 2px solid black;
  margin-bottom: 2%;
}

#desconto-valor {
  width:100%;
}

.des-subtotal {
  display: flex;
  margin-top: 3%;
  width: 100%;
  justify-content: center;
  border: 1px solid gray;
}



.confirmation-clear,.desconto-venda,.remove-item {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  left: 0;
  top: 0;
}



/* deletar item do pedido */


.campo-remover {
  border-radius: 10px;
  padding-top: 2rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  justify-content: center;
  margin-bottom: 5%;
}

.zindex-alto {
  position: fixed;
  z-index: 100000000000;
  background-color: white;
  max-width: 760px;
  right: 2%;
}

.segundo-none {
  display: none;
}

kbd {
  display: flex;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 90%;
  font-family: monospace;
  box-shadow: inset 0 -1px 0 #aaa;
  margin-right: 4px;
  color: black;
  width: 30px;
  justify-content: center;
}

.atalhos-lista {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.atalhos-lista li {
  margin: 4px 0;
}

.atalhos-lista a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.atalhos-lista kbd {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50px;
  /* tamanho fixo igual para todas */
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 14px;
  box-shadow: inset 0 -1px 0 #aaa;
  color: black;
  margin-right: 8px;
}