*{
    font-family: 'Segoe UI', 'Roboto', sans-serif;
}
strong{
    font-weight: 600;
}
.pix {
  background: #6a74c2;
  min-width: 4rem;
}

.credito {
  background: #2c3e6c;
  min-width: 4rem;
}

.debito {
  background: #3f5481;
  min-width: 4rem;
}

.dinheiro {
  background: #5a6e96;
  min-width: 4rem;
}

.crediario {
  background: #334c74;
  min-width: 4rem;
}

.total {
  background: #295553;
  width: 100%;
  min-width: 2rem;
}

/* Estilização do contêiner principal */
div[style*="background-color: white"] {
  padding: 20px;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  /* Para responsividade */
}

/* Estilização das tabelas */
div[style*="background-color: white"] table {
  width: 45%;
  background-color: #fff;
  border-collapse: collapse;
}

/* Cabeçalho das tabelas */
.linha-titulo th {
  font-size: 1rem;
  padding: 10px;
  background-color: #f0f0f0;
  text-align: center;
}

/* Células */
table td {
  padding: 10px;
  vertical-align: top;
}

/* Estilização dos containers de barra */
.barra-container {
  margin: 1% 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.029);
  display: flex;
  align-items: center;
}

/* Nomes das formas de pagamento */
.barra-container .nome {
  font-weight: 600;
  display: block;
  margin-bottom: 1px;
  width: 20%;
   text-align: end;
}

/* Barras */
.barra {
  height: 3rem;
  margin-bottom: 1%;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-left: 2.5%;
  padding-left: 10px;
  font-weight: bold;
  transition: width 0.3s ease;
}

.total {
width: 79%;
}

.sale-total {
  margin-bottom: .5%;
  color: white;
  padding: .7% 1.5%;
}

.p-total {
  padding: .4rem;
}

.p-1-total {
  padding: .2rem;
}

.total-relatorio {
  border: 1px solid rgb(167, 167, 167);
  margin-top: 1%;
  padding: .4rem;
  border-bottom: 2px solid  rgb(167, 167, 167);
  background-color: #295553;
  color: white;
}

.totalDiv{
 font-weight: 600;
}

.btn-ativo {
  background: var(--hover-color);
  color: white;
  text-shadow: none;
  border-bottom: 2px solid black;
}

.altura-custom-img {
  height: 77%;
}

.img-logo-lgl {
  width: 250px;
}

.wrapper-flex {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.corpo-form {
  border: 1px solid gray;
}

.data-titulo {
  display: flex;
  align-items: center;
}

.data-titulo img {
  width: 10%;
  margin-left: 2%;
}

.tabela-datas {
  max-width: 40%;
  border-collapse: collapse;
}

.container-tabelas {
  display: flex;
  width: 100%;
  max-height: 55.9vh;
}

.tabela-esquerda {
  width: 40%;
  height: 20vh;
  border-right: 1px solid gray;
}

.tabela-direita {
  width: 60%;
  height: 20vh;

}

.linha-titulo {
  border-top: 1px solid #ababab;
  border-bottom: 1px solid #ababab;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.722);
  padding: 1%;
  margin: 0.5%;
}

.footer-info {
  font-size: 0.95rem;
  margin-right: 1%;
}

.footer-info img {
  width: 1.3rem;
  margin-right: 0.5%;
}

.botoes-footer {
  background: white;
  padding: 0.5%;
  display: flex;
  gap: 2%;
}

.estilo-grafico {
  position: relative;
  padding-top: 2rem;
}
