* {
    font-family: 'Segoe UI', 'Roboto', sans-serif;
}

strong {
    font-weight: 600;
}

.container-tabelas-historico {
    width: 100%;
    max-height: 59vh;
}

.comprovantes-div {
    height: 100%;
    overflow: scroll;
    width: 100%;
    max-height: 59vh;
    margin-top: -.6rem;
}

.comprovantes-pedido-titulo td{
    border-top: 1px solid #bfbebe;
    border-bottom: 1px solid #bfbebe;
    padding: 8px 10px;
    text-align: center;
    vertical-align: top;
    font-weight: 600;
}

.sale-card {
    margin-bottom: 40px;
    page-break-inside: avoid;
}

.tabela-comprovante {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #bfbebe;
    
}
.linha-pontilhada {
  border-bottom: 2px dotted #000;
  width: 100%;
  border-collapse: collapse;
  margin-top: 2%;
  margin-bottom: 2%;
}


.tabela-comprovante th,
.tabela-comprovante td {
    border: 1px solid #bfbebe;
    padding: 8px 10px;
    text-align: left;
    vertical-align: top;
}
 

.tabela-comprovante tr:nth-child(even) td {
    background-color: #fafafa;
}

/* Alinhamento de valores monetários à direita */
.tabela-comprovante td:nth-child(4),
.tabela-comprovante td:nth-child(5) {
    text-align: right;
}

/* Títulos com destaque centralizado */
.tabela-comprovante tr:first-child th {
    font-size: 1rem;
    text-align: left;
}

/* Impressão */
@media print {
    body {
        margin: 0;
    }

    .sale-card {
        page-break-inside: avoid;
    }
}

.tabela-datas-historico {
    width: 100%;
    border-collapse: collapse;
}

.tabela-datas-historico th,
.tabela-datas-historico td {
    padding: 8px;
    text-align: left;
}

.col-inicial {
    width: 20%;
}

.col-final {
    width: 20%;
}

.col-pedido {
    width: 40%;
}

.col-cpf {
    width: 20%;
}

/* Cabeçalhos da tabela */
.tr-produto th {
  text-align: center !important;
  vertical-align: middle;
  padding: 4px 8px;
  border-bottom: 1px solid #ccc;
}

/* Colunas com larguras específicas */
.col-codigo {
  width: 15%;
}

.col-produto {
  width: 40%;
}

.col-quantidade,
.col-unitario,
.col-total {
  width: 15%;
}
.total{
    position: absolute;
}
/* Células da tabela (dados) */
table td {
  vertical-align: middle;
  padding: 4px 8px;
}
.alinha-esquerda {
  text-align: left;
}
.alinha-centro {
  text-align: center;
}
.tr-numero th{
    background: rgb(237, 237, 237);
}
.tr-troco td{
    justify-content: left;
    align-items:start;
}
.tr-produto td{
    text-align: center;
}
.tr-produto td:nth-child(4),
.tr-produto td:nth-child(5) {
    text-align: center !important;
}


.linha-valores span:first-child {
  border-left: none;
}
.tr-separador td {
  height: 2rem;
  border-bottom: 2px dashed rgb(184, 184, 184);
  padding: 0;
}

