/* VARIÁVEIS */
:root {
  --primary-color: #1f3b57;
  --secondary-color: #2c4d6e;
  --hover-color: #5f8ac1;
  --text-color: #ffffff;
  --border-color: #d7d7d7;
  --submenu-bg: #ffffff;
  --submenu-border: #bdbdbd;
  --menu-hover-bg: #3a5772;
  --footer-form: #b5d5ff32;

  /* Novas variáveis para botões */
  --button-bg: #1e3a5f;
  --button-text-color: var(--text-color);
  --button-warning-bg:  #1e3a5f;;
  /* amarelo queimado */
  --button-warning-hover-bg: #495057b7;
  ;
  /* amarelo escuro */
  --button-danger-bg: #c62828;
  --button-danger-hover-bg: #b71c1c;

  /* Variáveis utilitárias */
  --radius-sm: 8px;
  --radius-md: 10px;
  --radius-lg: 12px;
  --shadow-sm: 0 1px 4px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 2px 6px rgba(0, 0, 0, 0.08);

  /* Altura do formulário principal */
  --formulario-height: 710px;
  --formulario-conteudo: 608px;
  --formulario-inputs: 480px;
  --div-informativas: 85px;
}

/* RESET */
* {
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-item-2,
.menu-item-3,
.menu-item-4,
.menu-item-5,
.menu-item-6,
.menu-item-7,
.menu-item-8,
.menu-item-9,
.menu-item-10 {
  display: flex;
}

.menu-item-0 {
  display: none
}

body {
  background-color: rgb(1 38 87 / 43%);
  color: var(--primary-color);
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

body.loading {
  pointer-events: none;
}

/* Oculta o overlay inicialmente, mas mantém a posição */
#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2C4D6E;
  /* Pode ajustar cor e opacidade */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  /* Impede interação quando invisível */
  transition: opacity 0.5s ease-in-out;
}

/* Quando ativado, fica visível e interativo */
#loading-overlay.active {
  opacity: 1;
  pointer-events: all;
  z-index: 99999;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top: 4px solid #2C4D6E;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#loading-overlay p {
  margin-top: 12px;
  font-size: 14px;
  color: white;
  display: flex;
  text-align: center;
  margin-bottom: 1%;
  margin-left: .7%;
}


.container {
  width: 100%;
  height: 100vh;
}

/* HEADER */
header {
  background-color: var(--primary-color);
  padding: .5rem;
}

/* MENU SUSPENSO */
.menu-suspenso ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.menu-suspenso li,
.menu-lateral .menu-suspenso li {
  background-color: transparent;
  cursor: pointer;
  border-radius: var(--radius-sm);
  transition: background-color 0.3s ease;
}

.menu-suspenso li:hover {
  background-color: var(--menu-hover-bg);
}

.menu-suspenso a,
.menu-lateral .menu-suspenso a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background: none;
  border-radius: var(--radius-sm);
  transition: background-color 0.3s ease;
  border-bottom: 2px solid transparent;
}

.menu-lateral .menu-suspenso ul {
  flex-direction: column;
  gap: 0.5rem;
}

.menu-lateral .menu-suspenso a {
  color: var(--text-color);

}

.menu-lateral .menu-suspenso a:hover {
  background-color: var(--menu-hover-bg);
  color: var(--text-color);
}

/* ÍCONE */
.icone-menu {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

/* CONTAINER PRINCIPAL */
.formulario-container {
  display: flex;
  margin: 1rem;
  gap: 0.5rem;
  height: var(--formulario-height);
  /* <-- ALTURA CONTROLADA */
  border-radius: var(--radius-md);
  border: 1px solid var(--border-color);
  background-color: var(--border-color);
  box-shadow: var(--shadow-md);
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--secondary-color);
}

/* MENU LATERAL */
.menu-lateral {
  background-color: var(--secondary-color);
  padding: .5rem;
  border-radius: var(--radius-md) 0 0 var(--radius-md);
  min-width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: var(--formulario-height);
  /* <-- ALTURA CONTROLADA */
}

/* LOGO */
.div-logo-empresa {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
}

.logo-empresa {
  max-width: 150px;
  height: auto;
  margin-bottom: 2%;
}

/* FORMULÁRIO */
.formulario {
  background-color: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 800px;
  height: var(--formulario-height);
  /* <-- ALTURA CONTROLADA */
  border-radius: 0 var(--radius-md) var(--radius-md) 0;
  box-shadow: var(--shadow-md);
}

.formulario-conteudo {
  display: flex;
  margin: 0.5%;
  gap: 0.5%;
  min-height: 695px
}

.formulario-img {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.quadro-img {
  width: 220px;
  /* defina o tamanho fixo desejado */
  height: 220px;
  overflow: hidden;
  /* impede que a imagem ultrapasse o quadro */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  border: 2px dashed #2C4D6E;
}

.quadro-img .img-produto {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* ou 'cover', dependendo do efeito desejado */
}

.formulario-img p {
  margin-bottom: 2%;
  font-weight: 600;
  margin-top: 3%;
}

.img-fixa {
  border: 2px solid #2C4D6E !important;
  width: 200px !important;
}

.formulario-img img {
  max-width: 100%;
  object-fit: contain;
}
.inputReadonly {
  all: unset !important;
  font: inherit !important;
  color: inherit !important;
  background-color: white !important;
}

 td input {
  text-align: left;
  font-size: 1rem !important;
  /* outras estilizações se quiser */
}


.formulario-inputs {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: .9rem;
  width: 75%;
  min-height: var(--formulario-inputs);
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  box-sizing: border-box;
}

/* Botões*/

#btn-ativo {
  background-color: var(--menu-hover-bg);
  color: var(--text-color);
  text-shadow: none;
  border-bottom: 2px solid var(--border-color);
}

.botoes-footer {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.botao-imprimir {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none !important;
}

.botao-imprimir:hover {
  background-color: rgba(167, 203, 243, 0.303);
}

.icone-impressora {
  width: 18px;
  height: 18px;
}

.acoes-container {
  display: flex;
  gap: 2%;
  justify-content: center;
}

#btn-exit-grupo,
#btn-exit-serial,
#exit-nome-fornecedor,
#btn-exit-fornecedor-prod,
#btn-exit-juros,
#btn-exit-desconto,
#btn-exit-venda,
#btn-exit,
#btn-exit-parcelado,
#btn-exit-nome,
#btn-exit-nome-2,
#btn-exit-pag-1, 
#btn-exit-pag-2, 
#btn-exit-pag-3, 
#btn-exit-pag-4, 
#btn-exit-pag-5,
#btn-exit-remover,
#btn-exit-qtd {
  position: absolute;
  top: 8px;
  padding-bottom: 1%;
  right: 8px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: #000;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.2s, color 0.2s;
}
 

#btn-exit-fornecedor-prod:hover,
#exit-nome-fornecedor:hover,
#btn-exit-juros:hover,
#btn-exit-grupo:hover,
#btn-exit-desconto:hover,
#btn-exit:hover,
#btn-exit-parcelado:hover ,
#btn-exit-nome:hover ,
#btn-exit-nome-2:hover ,
#btn-exit-pag-1:hover, 
#btn-exit-pag-2:hover, 
#btn-exit-pag-3:hover, 
#btn-exit-pag-4:hover, 
#btn-exit-pag-5:hover,
#btn-exit-remover:hover,
#btn-exit-qtd:hover,
#btn-exit-serial:hover {
  background-color: #c0c0c0;
  color: white;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--button-warning-bg);
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  width: 9rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

button:hover {
  filter: brightness(1.3);
}

#buscar-fornecedor {
  width: 100%;
}

.botoes-footer button:active {
  opacity: 0.9;
}

#limparButton {
  background-color: var(--button-warning-bg);
  color: var(--text-color);
}

.img-excluir,
.img-disquete {
  width: 18px;
  height: 18px;
  object-fit: contain;
  filter: brightness(0) invert(1);
  /* Deixa o ícone branco sem precisar de PNG branco */
}

/* MENSAGENS INFORMATIVAS */
.formulario-mensages-informativas {
  background-color: var(--footer-form);
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin: 0 0.5%;
  padding: 0.5%;
  min-height: var(--div-informativas);
  box-shadow: var(--shadow-sm);
  display: flex;
  align-items: center;
}

.img-informacao {
  width: 25px;
  margin-right: .5%;
}