table {
  width: 99%;
  border-collapse: collapse;
  background-color: var(--bg-color);
  font-size: 1rem;
  margin-bottom: 1.8%;
}

th,
td {
  padding: 10px;
  border: 1px solid var(--border-color);
  text-align: center;
  color: var(--color);
}

td {
  text-align: center;
}

th {
  font-weight: 600;
  text-align: left;
  background-color: #f0f0f099 !important;
  padding-bottom: .5%;
}

.btn-border-transparent {
  border: none !important;
  border: 1px solid var(--border-color) !important;
}

.table-1-produto,
.table-2-produto,
.table-3-produto,
.table-4-produto,
.table-5-produto,
.table-6-produto {
  width: 99%;
  overflow: hidden;
  margin-bottom: 0;
}


.table-1-fornecedor,
.table-2-fornecedor,
.table-3-fornecedor,
.table-4-fornecedor,
.table-5-fornecedor,
.table-6-fornecedor {
  width: 99%;
  overflow: hidden;
  margin-bottom: 0;
}

.table-1-grafico,
.table-2-grafico,
.table-3-grafico,
.table-4-grafico,
.table-5-grafico,
.table-6-grafico {
  width: 99%;
  overflow: hidden;
  
}

.table-2-grafico{
  height: 520px !important;
}

.table-1-entrada,
.table-2-entrada,
.table-3-entrada,
.table-4-entrada,
.table-5-entrada,
.table-6-entrada {
  width: 99%;
  margin: 0.5%;
  overflow: hidden;
}

 .table-1-cliente{
  margin-top: .5%;
 }
 .table-2-cliente,
 .table-3-cliente,
 .table-4-cliente,
 .table-5-cliente,
 .table-6-cliente {
  width: 99%;
  overflow: hidden;
  margin-bottom:.8% !important;
}

.table-1-informacoes,
.table-2-informacoes,
.table-3-informacoes,
.table-4-informacoes,
.table-5-informacoes,
.table-6-informacoes {
  width: 99%;
  margin: 0.5% !important;
  overflow: hidden;
}

.table-1-config,
.table-2-config,
.table-3-config,
.table-4-config,
.table-5-config,
.table-6-config {
  width: 99%;
  margin: 0.5% !important;
  overflow: hidden;
}

#formulario-inputs-gap-zero{
  gap:0 !important;
}

select {
  color: #000 !important;
  font-weight: 400;         /* Peso normal (não grosso) */
  font-family: 'Arial', sans-serif; /* Ou outra fonte limpa */
  background-color: white;  /* Garante contraste */
  border: 1px solid #ccc;   /* Borda leve */
}

